<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" alt="logo" width="120px"></a>
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
             
                
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link"  routerLink="/home">Home</a>
                
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link" href="#benefits">Benefits</a>
              </li>
             
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link" href="#contact">Contact</a>
              </li>

          </ul>
          <a href="#0" class="btn-1">Sign Up</a>
      </div>
  </div>
</nav> -->